name: build

on: push

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install compilers
        run: |
          sudo apt-get install -y build-essential gcc g++ cmake make

      - name: Compile and compare
        run: |
          make git_clone
          make all
          make run